/.venv/
.venv/
env/
.python_packages/
/.venv-wsl/

/.run/
!/.vscode/settings.json
__pycache__/
*.env
.env.*
.temp/
local.settings.json
__azurite_db*.json
__blobstorage__/
__queuestorage__/
src/functions/bin/
src/functions/obj/
src/volumes/

.terraform/
.terraform.lock.hcl
k8s-key
k8s-key.pub
*.plan
creds.sh
/.data/
.cache/
.python_packages/
/.venv-wsl/
!/.vscode/settings.json
__pycache__/
*.egg-info/
*.pem

src/.env
.venv

*Zone.Identifier
~$*

